@tailwind base;
@tailwind components;
@tailwind utilities;


.title-primary{
  @apply mt-4 mb-2 text-white lg:text-7xl font-bold;
}

.title-secondary{
  @apply mt-4 text-white lg:text-5xl font-bold mb-8;
}

.sub-title{
  @apply font-bold text-teal text-xl;
}

.paragraph-primary{
  @apply lg:text-2xl my-6;
}

.paragraph-secondary{
  @apply lg:text-xl my-6;
}

.purple-button{
  @apply bg-purple text-white uppercase h-14 w-48 font-bold py-2 px-6 rounded-full hover:bg-blue transition duration-300;
}

.transparent-button{
  @apply bg-transparent h-14 w-48 border-2 uppercase hover:border-purple font-bold py-2 px-6 rounded-full hover:bg-purple hover:text-white transition duration-300;
}

.black-button{
  @apply bg-black h-16 w-64 font-bold py-2 px-6 rounded-full uppercase text-white hover:bg-blue hover:text-white transition duration-300;
}

.hero-image{
  @apply max-w-xs md:max-w-sm lg:max-w-lg xl:max-w-xl;
}

.services-container{
  @apply container mx-auto mb-36 flex flex-row items-center justify-center lg:gap-96;
}

.nav-link {
  @apply mr-5 px-5 hover:text-gray-300;
}

.square {
  @apply aspect-square ;
  
}

@layer components {
  .gradient {
    @apply w-256 h-256; 
    background: rgb(141,141,218);
    background: radial-gradient(circle at center, rgba(141,141,218,1) 0%, rgba(0,0,0,1) 61%);
  }
}

/* .gradient{
  @apply bg-[rgb(141,141,218)];
  @apply bg-[radial-gradient(circle, rgba(141,141,218,1) 0%, rgba(0,0,0,1) 61%)];
} */




/* .container_nav_footer {
  width: 100%;
  padding: 0;
}
@media (min-width: 640px) {
  .container_nav_footer {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container_nav_footer {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container_nav_footer {
      max-width: 1024px;
      margin:5vw;
    
      width: 100%;
  }
}
@media (min-width: 1280px) {
  .container_nav_footer {
      max-width: 1280px;
      margin:5vw;
    
      width: 100%;
  }
}
@media (min-width: 1536px) {
  .container_nav_footer {
      max-width: 1536px;
      margin:5vw;
     
      width: 100%;
  }
}

@media (min-width: 1900px) {
  .container_nav_footer {
      max-width: 1750px;
      margin:1vh 5vw;
      width: 100%;
  }
} */



